PORT=4002
EVAL_BASE_URL=http://20.207.122.201/evaluation-service
TOP_N=10

ACCESS_TOKEN=

EMAIL=as6333@srmist.edu.in
NAME=aditya sharma
ROLL_NO=RA2311027010147
ACCESS_CODE=QkbpxH
CLIENT_ID=3a8a7c2f-ff94-4728-9115-1d43e3d72576
CLIENT_SECRET=xnzbutJTpMBRePFj
